@use "@/shared/styles";

.inputPassword {
  @include styles.inputDefault;

  &__inputSection {
    position: relative;
  }

  &__openBtn {
    position: absolute;
    top: 50%;
    bottom: 2px;
    right: 16px;

    display: flex;
    align-items: center;

    transform: translateY(-50%);
  }
}

.inputsRequired {
  @include styles.inputsActionStyles("error");
}
